.vscode
airflow/data
airflow/airflow.cfg
airflow/logs/
airflow/webserver_config.py
dl.cfg
airflow/airflow-webserver.pid
airflow/airflow.db
airflow/tests
newrelic_agent.log
practice.txt
# airflow/dags/pg_dag.py
# airflow/dags/xcom_dag.py
airflow/test.sql
bootstrap_emr.sh
airflow/dags/dag_etl_aws_emr_org.py
airflow/dest_data/
airflow/sample_data/
airflow/sql/
airflow/dags/dag_data_quality_check_s3.py
aws_emr_steps/aws_emr_steps.json
aws_emr_steps/practice_and_learn_aws_emr_process.ipynb
aws_emr_steps/aws_emr_steps.json
data_quality/check_data.py