.vscode
airflow/data
airflow/airflow.cfg
airflow/logs/
airflow/webserver_config.py
dl.cfg
airflow/airflow-webserver.pid
airflow/airflow.db
airflow/tests
newrelic_agent.log
practice.txt
# airflow/dags/pg_dag.py
# airflow/dags/xcom_dag.py
airflow/test.sql
